/** @author ${author}
*	@description ${desc}
*   @email ${email}
*   @date  ${date}
*/ 
<template>
	
</template>
<script>
	module.exports = {
    		created:function () {

    		},
    		data:{

            },
    		methods:{

    		}
    }
</script>

<style>
	
</style>